
{# extension du template layout pour le template principal #}

{% extends "layout_bundle.twig" %}


{% block identifiants %}{{parent()}}{% endblock %}

{% block title %}{{parent()}}Accueil{% endblock %}
{% block cadre_haut %}
        {% block chapeau_haut %}{{parent()}}{% endblock %}
        {% block menuUtilisateur %}
            {{parent()}}
            
        {% endblock %}
        {% block chapeau_bas %}{{parent()}}{% endblock %}
    
{% endblock %}

{% block contenu %}
    {% block panneauGauche %}{{parent()}}{%endblock%}   
    {% block panneauDroite %}
        {% block panneauDroiteFirstchild%} {{parent()}} {% endblock %}
            {% block article %}
                {% block articleFirstChild %}
                    {% if connecte == TRUE %}
                        <div class=" navigationEleve">
                            
                                {% if elevePrecedent == NULL%}
                                <div></div> 
                                {%else%}
                                    
                                    <div class="elevePrecedent"><a href ="avisAdministratif.php?statut={{statut}}&codeStructure={{classe}}&idEleve={{elevePrecedent.id_eleve}}&type={{type}}"><img src ="templates/IMG/left_arrow.png" /></a>  {{elevePrecedent.5}} {{elevePrecedent.7}}</div> 
                                    
                                {%endif%}
                                {% if eleveSuivant == NULL%}
                                <div></div> 
                                {%else%}
                                    <div class="eleveSuivant">{{eleveSuivant.5}} {{eleveSuivant.7}} <a href ="avisAdministratif.php?statut={{statut}}&codeStructure={{classe}}&idEleve={{eleveSuivant.id_eleve}}&type={{type}}"><img src ="templates/IMG/right_arrow.png" /></a></div> 
                                
                                {%endif%}
                        </div>
                        <div class="formulaire">
                            <p>Identité de l'élève : <strong>{{infosEleve.5}} {{infosEleve.7}} ({{classeSelectionnee}})</strong></p>
                        </div>
                          {%if type == 'avisP1'%}                                          
                        <div class="formulaire">
                             <form action="traitementAvisAdministratif.php?statut={{statut}}&idAdmin={{id_admin}}&codeStructure={{infosEleve.35}}&idEleve={{infosEleve.id_eleve}}&type={{type}}" class="" method ="POST" >
                                {% for voeu in voeuxEleve %}

                                    <div class="formulaire">
                                       <span>Voeu classé n°{{voeu.classement}} : </span>
                                        <span><h3><strong><u>{{voeu.nom}}</u></strong></h3><span>
                                            <p>Informations : {{voeu.type}} 
                                                {%if voeu.formation is not empty %}- {{voeu.formation}} -{%endif%}
                                               {%if voeu.universite is not empty %} &nbsp;({{voeu.universite}}) {%endif%}
                                                
                                                &nbsp; - {{voeu.statut}} - </p>
                                            <p>Localisation : {{voeu.commune}}/{{voeu.academie}}</p> 
                                            {%if voeu.commentaire is not empty %}
                                            <p><i>commentaire  : {{voeu.commentaire}}</i></p>
                                            {%endif%}
                                            <p><a href ="{{voeu.lien}}" target ="_blank">(Voir la présentation de l'établissement sur le site de l'ONISEP)</a></span>

                                    </div>
                                    <div class ="">
                                        <span> <textarea id="{{voeu.id_voeu}}" rows="3" cols="100" name="{{voeu.id_voeu}}" >{{avisAdmin[voeu.id_voeu]}}</textarea></span>
                                        {% if avisAdmin[voeu.id_voeu] is empty  %}
                                        <span></span>
                                        {%else%}
                                            <span><img src ="templates/IMG/Check-3-icon.png" /></span>
                                        {%endif%}
                                    </div>
                                    
                                    <div class="avis_p1">
                                        <p>Avis des enseignants pour ce voeu : </p>
                                        <ul>
                                        {%for commentaire in avisProfesseurs if commentaire.id_voeu == voeu.id_voeu%}
                                            <li><i>{{commentaire.nomComplet}} : {{commentaire.avis}}</i></li>
                                        {%endfor%}
                                        </ul>
                                    </div>
                                    <br />
                                    <hr />
                                {%endfor%}
                            <input type ="submit" value ="Envoyer" />
                             
                            </form>
                        </div>
                       {%elseif type== 'avisCommission'%}
                           <div class="formulaire">
                             <form action="traitementAvisAdministratif.php?statut={{statut}}&idAdmin={{id_admin}}&codeStructure={{infosEleve.35}}&idEleve={{infosEleve.id_eleve}}&type={{type}}" class="" method ="POST" >
                                {% for voeu in voeuxEleve %}

                                    <div class="formulaire">
                                        <span>Voeu classé n°{{voeu.classement}} : </span>
                                        <span><h3><strong><u>{{voeu.nom}}</u></strong></h3><span>
                                            <p>Informations : {{voeu.type}} 
                                                {%if voeu.formation is not empty %}- {{voeu.formation}} -{%endif%}
                                               {%if voeu.universite is not empty %} &nbsp;({{voeu.universite}}) {%endif%}
                                                
                                                &nbsp; - {{voeu.statut}} - </p>
                                            <p>Localisation : {{voeu.commune}}/{{voeu.academie}}</p> 
                                            {%if voeu.commentaire is not empty %}
                                            <p><i>commentaire  : {{voeu.commentaire}}</i></p>
                                            {%endif%}
                                            <p><a href ="{{voeu.lien}}" target ="_blank">(Voir la présentation de l'établissement sur le site de l'ONISEP)</a></span>

                                    </div>
                                                                        
                                    <div class="avis_p1">
                                        <p>Avis des enseignants pour ce voeu : </p>
                                        <ul>
                                        {%for commentaire in avisProfesseurs if commentaire.id_voeu == voeu.id_voeu%}
                                            <li><i>{{commentaire.nomComplet}} : {{commentaire.avis}}</i></li>
                                        {%endfor%}
                                        </ul>
                                    </div>
                                        <div class="avis_p1">
                                        <p>Avis du chef d'établissement pour ce voeu : </p>
                                        <ul>
                                            {%if avisAdmin[voeu.id_voeu] != '' %}
                                            <li><i>{{avisAdmin[voeu.id_voeu]}}</i></li>
                                            {%else%}
                                            <p><i>Pas d'avis émis pour l'instant...</i></p>
                                            {%endif%}
                                        </ul>
                                    </div>
                                            {% set clef1 = ['decision-',(voeu.id_voeu)]|join %}
                                            
                                        <div class="radioBox">
                                            <p>{{labelCommission}} : </p><br />
                                            <input type ="radio" name="decision-{{voeu.id_voeu}}" value="{{bttradio1|raw}}" {%if decisionCommission[clef1] == bttradio1|raw %}checked{% endif %} >{{bttradio1|raw}} 
                                            {%if decisionCommission[clef1] == bttradio1|raw %}<img src ="templates/IMG/Check-3-icon.png" height="16px" width="16px" /> {% endif %}
                                                <br/>
                                            <input type ="radio" name="decision-{{voeu.id_voeu}}" value="{{bttradio2|raw}}" {%if decisionCommission[clef1] == bttradio2|raw %}checked{% endif %} >{{bttradio2|raw}}
                                            {%if decisionCommission[clef1] == bttradio2|raw %} <img src ="templates/IMG/Check-3-icon.png" height="16px" width="16px" /> {% endif %}
                                                <br/>
                                            <input type ="radio" name="decision-{{voeu.id_voeu}}" value="{{bttradio3|raw}}" {%if decisionCommission[clef1] == bttradio3|raw %}checked{% endif %} >{{bttradio3|raw}}
                                            {%if decisionCommission[clef1] == bttradio3|raw %} <img src ="templates/IMG/Check-3-icon.png" height="16px" width="16px" /> {% endif %}
                                            <br/>
                                            <input type ="radio" name="decision-{{voeu.id_voeu}}" value="{{bttradio4|raw}}" {%if decisionCommission[clef1] == bttradio4|raw %}checked{% endif %} >{{bttradio4|raw}}
                                            {%if decisionCommission[clef1] == bttradio4|raw %} <img src ="templates/IMG/Check-3-icon.png" height="16px" width="16px" /> {% endif %}
                                            <br/>                                     
                                         </div>
                                         <div class="avisCommission">
                                             <p>{{labelAvisCommission}} : </p>
                                             {% set clef2 =  ['avis-',(voeu.id_voeu)]|join %} 
                                             <span><textarea id="{{voeu.id_voeu}}" rows="3" cols="100" name="avis-{{voeu.id_voeu}}" >{%if decisionCommission[clef2] != '' %}{{decisionCommission[clef2]}}{% endif %}</textarea></span>
                                                  {%if decisionCommission[clef2] != '' %} <span><img src ="templates/IMG/Check-3-icon.png" height="" width="" /></span> {% endif %}
                                         </div>
                                    <br />
                                    <hr />
                                {%endfor%}
                            <input type ="submit" value ="Envoyer" />
                             
                            </form>
                        </div>
                       {%endif%}     
                    {%endif%}
                    {% block article_alt%}
                    {% if connecte == FALSE %}
                        {%include 'loginFalse.twig'%}
                    
                    {%endif%}
                {%endblock%}
                {%endblock%}{{parent()}}
                
                
            {% endblock %}
        {% block panneauDroiteSecondchild %} {{parent()}} {% endblock %}    
    {% endblock %}
    
{%endblock%}

{% block footer %}{{parent()}}{% endblock %}