
{# extension du template layout pour le template principal #}

{% extends "layout_bundle.twig" %}


{% block identifiants %}{{parent()}}{% endblock %}

{% block title %}{{parent()}}Accueil{% endblock %}
{% block cadre_haut %}
        {% block chapeau_haut %}{{parent()}}{% endblock %}
        {% block menuUtilisateur %}
            {{parent()}}
            
        {% endblock %}
        {% block chapeau_bas %}{{parent()}}{% endblock %}
    
{% endblock %}

{% block contenu %}
    {% block panneauGauche %}{{parent()}}{%endblock%}   
    {% block panneauDroite %}
        {% block panneauDroiteFirstchild%} {{parent()}} {% endblock %}
            {% block article %}
                {% block articleFirstChild %}
                    {% if connecte == TRUE %}
                        <div class=" navigationEleve">
                            
                                {% if elevePrecedent == NULL%}
                                <div></div> 
                                {%else%}
                                    
                                    <div class="elevePrecedent"><a href ="avisProfesseur.php?statut={{statut}}&codeStructure={{classe}}&idEleve={{elevePrecedent.id_eleve}}"><img src ="templates/IMG/left_arrow.png" /></a>  {{elevePrecedent.5}} {{elevePrecedent.7}}</div> 
                                    
                                {%endif%}
                                {% if eleveSuivant == NULL%}
                                <div></div> 
                                {%else%}
                                    <div class="eleveSuivant">{{eleveSuivant.5}} {{eleveSuivant.7}} <a href ="avisProfesseur.php?statut={{statut}}&codeStructure={{classe}}&idEleve={{eleveSuivant.id_eleve}}"><img src ="templates/IMG/right_arrow.png" /></a></div> 
                                
                                {%endif%}
                        </div>
                        <div class="formulaire">
                            <p>Identité de l'élève : {{infosEleve.5}} {{infosEleve.7}}
                        </div>
                        
                        <div class="formulaire">
                            <p>{{messageDivision}} {{classeSelectionnee}}
                        </div>
                        
                        
                        <div class="formulaire">
                             <form action="traitementAvisProfesseur.php?statut={{statut}}&idPedago={{id_pedago}}&codeStructure={{infosEleve.35}}&idEleve={{infosEleve.id_eleve}}" class="" method ="POST" >
                                {% for voeu in voeuxEleve %}

                                    <div class="">
                                        <strong> Voeu classé n°{{voeu.classement}} : </strong><br />
                                        <p><strong>
                                                {%if voeu.secteur != empty %}{{voeu.secteur}} : 
                                                {%endif%}
                                                <strong>
                                                {{voeu.type}}, {{voeu.nom}}
                                                {%if voeu.sigle != empty %}({{voeu.sigle}}){%endif%}
                                                
                                                </strong>
                                                {%if voeu.academie !=empty%}
                                                    <i>(Académie : {{voeu.academie|upper}})</i>
                                                {%endif%}
                                                {%if voeu.formation !=empty%}
                                                - Filière : {{voeu.formation}}
                                                {%endif%}
                                            </strong>
                                            {%if voeu.statut != empty %} - Etablissement {{voeu.statut}}{%endif%}
                                        </p>
                                        <p>
                                            
                                        </p>
                                        {%if voeu.lien != empty %}
                                        <p>
                                            <a href ="{{voeu.lien}}" target ="_blank">(Voir la présentation de l'établissement ou de la formation sur le site de l'ONISEP) <img src="templates/IMG/onisep.jpg" width="24px" height="24px"/> </a>
                                        </p>
                                        {%endif%}

                                    </div>
                                    <div class ="">
                                        <span><textarea id="{{voeu.id_voeu}}" rows="3" cols="100" name="{{voeu.id_voeu}}" />{{avisProf[voeu.id_voeu]}}</textarea></span>
                                        {% if avisProf[voeu.id_voeu] is empty  %}
                                        <span></span>
                                        {%else%}
                                            <span><img src ="templates/IMG/Check-3-icon.png" alt="Avis enregistr&eacute; pour ce v&oelig;u." /></span> 
                                        {%endif%}
                                    </div>

                                {%endfor%}
                            <input type ="submit" value ="Envoyer" />
                             
                            </form>
                        </div>
                    {%endif%}
                    {% block article_alt%}
                    {% if connecte == FALSE %}
                        {%include 'loginFalse.twig'%}
                    
                    {%endif%}
                {%endblock%}
                {%endblock%}{{parent()}}
                
                
            {% endblock %}
        {% block panneauDroiteSecondchild %} {{parent()}} {% endblock %}    
    {% endblock %}
    
{%endblock%}

{% block footer %}{{parent()}}{% endblock %}