
{# extension du template layout pour le template principal #}

{% extends "layout_bundle.twig" %}


{% block identifiants %}{{parent()}}{% endblock %}

{% block title %}{{parent()}}Accueil{% endblock %}
{% block cadre_haut %}
        {% block chapeau_haut %}{{parent()}}{% endblock %}
        {% block menuUtilisateur %}
            {{parent()}}
        {% endblock %}
        {% block chapeau_bas %}{{parent()}}{% endblock %}
    
{% endblock %}

{% block contenu %}
    {% block panneauGauche %}{{parent()}}{%endblock%}   
    {% block panneauDroite %}
        {% block panneauDroiteFirstchild%} {{parent()}} {% endblock %}
            {% block article %}{{parent()}}
                <div class="formulaire">
                    <p>Liste des classes</p>
                    <ul>
                        {% if typeEdition == 'pdfPreCommission' or typeEdition == 'pdfPostCommission' or typeEdition == 'pdfEnvoi'%}
                            {% for division in listeDivisions%}
                                <li><a href ="constructionPDF.php?statut={{statut}}&codeStructure={{division.0}}&type={{typeEdition}}">{{division.0}}</a></li>
                            {% endfor %}
                        {% elseif typeEdition == 'avisP1' %}
                            {% for division in listeDivisions%}
                                <li><a href ="avisAdministratif.php?statut={{statut}}&codeStructure={{division.0}}&type={{typeEdition}}">{{division.0}}</a></li>
                            {% endfor %}
                        {% elseif typeEdition == 'avisCommission' %}
                             {% for division in listeDivisions%}
                                <li><a href ="avisAdministratif.php?statut={{statut}}&codeStructure={{division.0}}&type={{typeEdition}}">{{division.0}}</a></li>
                            {% endfor %}
                        {%elseif typeEdition == 'audit'%}
                            {% for division in listeDivisions%}
                                <li><a href ="auditProfesseurs.php?statut={{statut}}&codeStructure={{division.0}}&type={{typeEdition}}">{{division.0}}</a></li>
                            {% endfor %}
                        {% endif%}
                    </ul>
                </div>
            {% endblock %}
        {% block panneauDroiteSecondchild %} {{parent()}} {% endblock %}    
    {% endblock %}
    
{%endblock%}

{% block footer %}{{parent()}}{% endblock %}