
{# extension du template layout pour le template principal #}

{% extends "layout_bundle.twig" %}


{% block identifiants %}{{parent()}}{% endblock %}

{% block title %}{{parent()}}Accueil{% endblock %}
{% block cadre_haut %}
        {% block chapeau_haut %}{{parent()}}{% endblock %}
        {% block menuUtilisateur %}
            {{parent()}}
            
        {% endblock %}
        {% block chapeau_bas %}{{parent()}}{% endblock %}
    
{% endblock %}

{% block contenu %}
    {% block panneauGauche %}{{parent()}}{%endblock%}   
    {% block panneauDroite %}
        {% block panneauDroiteFirstchild%} {{parent()}} {% endblock %}
            {% block article %}
                {% block articleFirstChild %}
                    {% if connecte == TRUE %}
                        <div class="formulaire">
                            <p>{{messageDivision}} {{classeSelectionnee}}
                        </div>
                        <div class="formulaire ">
                            
                            <ul>
                                
                                {%for eleve in listeEleves %}
                                    {% if eleve.nombreVoeux != 0 %}
                                        <li><a href="avisProfesseur.php?statut={{statut}}&codeStructure={{classeSelectionnee}}&idEleve={{eleve.id_eleve}}">{{eleve.1}} {{eleve.2}}</a> (nombre de voeux : <strong>{{eleve.nombreVoeux}}</strong>) </li>
                                    {% else %}
                                    <li>{{eleve.1}} {{eleve.2}} <i>(nombre de voeux : {{eleve.nombreVoeux}})</i> </li>
                                    {%endif%}
                                {% endfor %}
                            </ul>
                            
                        </div>
                    {%endif%}
                    {% block article_alt%}
                    {% if connecte == FALSE %}
                        {%include 'loginFalse.twig'%}
                    
                    {%endif%}
                {%endblock%}
                {%endblock%}{{parent()}}
                
                
            {% endblock %}
        {% block panneauDroiteSecondchild %} {{parent()}} {% endblock %}    
    {% endblock %}
    
{%endblock%}

{% block footer %}{{parent()}}<hr />{% endblock %}