{# extension du template layout pour l'index #}

{% extends "layout_bundle.twig" %}


{% block identifiants %}{{parent()}}{% endblock %}

{% block title %}{{parent()}}Accueil{% endblock %}
{% block cadre_haut %}{{parent()}}{% endblock %}

{% block contenu %}
    {% block panneauGauche %}{{parent()}}{%endblock%}   
    {% block panneauDroite%}
        {% block panneauDroiteFirstchild%} {{parent()}} {% endblock %}
            {% block article %}{{parent()}}
                
            <div id="index_ul">
                <ul type="square">
                    <li>
                        <img src="templates/IMG/eleve.png" />&nbsp;<a href="{{lien_eleve}}">El&egrave;ves</a>
                    </li>
                    <li>
                        <img src="templates/IMG/professeur.png" />&nbsp;<a href="{{lien_professeur}}">Equipe p&eacute;dagogique</a>
                    </li>
                    <li>
                        <img src="templates/IMG/admin.png" />&nbsp;<a href="{{lien_administratif}}">Equipe administrative</a>
                    </li>
                </ul>
            </div>
            <div id="splashscreen">
            <div><h3><strong>{{splash1}}</strong></h3>
                             <br />
            </div>
            <div><h3><strong>{{splash2}}</strong></h3>
            </div>
            </div>
            {% endblock %}
        {% block panneauDroiteSecondchild%} {{parent()}} {% endblock %}    
    {% endblock %}
    
{%endblock%}

{% block footer %}{{parent()}}{% endblock %}