
{# extension du template layout pour le template principal #}

{% extends "layout_bundle.twig" %}


{% block identifiants %}{{parent()}}{% endblock %}

{% block title %}{{parent()}}Accueil{% endblock %}
{% block cadre_haut %}
        {% block chapeau_haut %}{{parent()}}{% endblock %}
        {% block menuUtilisateur %}
        
        {% endblock %}
        {% block chapeau_bas %}{{parent()}}{% endblock %}
    
{% endblock %}

{% block contenu %}
    {% block panneauGauche %}{{parent()}}{%endblock%}   
    {% block panneauDroite %}
        {% block panneauDroiteFirstchild%} {{parent()}} {% endblock %}
            {% block article %}{{parent()}}
                <div class="formulaire">
	
            <div class="formTitre"><p>{{titreForm}}</p></div>
            
            <div class ="formContenu">
            <form action="{{lienSubmit}}{{arguments}}" method="{{method}}" />
                <div><label>{{labelNom}} : </label></div>{{nom|raw}}<br />
                <div><label>{{labelPrenom}} : </label></div>{{prenom|raw}}<br />
                <div><label>{{labelNaissance}} : </label></div>{{jj|raw}}{{mm|raw}}{{aaaa|raw}}<br />
              
                <div><label>{{labelMail1}} :</label></div>{{mail1|raw}}<br />
                
                <div><label>{{labelMail2}} :</label></div>{{mail2|raw}}<br />
                
                <div>{{submit|raw}}</div>
                <div class="spacer"></div>


            </form>
            </div>
	
	</div>
            {% endblock %}
        {% block panneauDroiteSecondchild %} {{parent()}} {% endblock %}    
    {% endblock %}
    
{%endblock%}

{% block footer %}{{parent()}}{% endblock %}