{# Layout principal pour le template SPS #}
<!DOCTYPE html>
<html>
    <head>
        
        {% block head %}
            <title>{% block title %}{{titrePage}} - {% endblock %}</title>
            {{ include('meta.twig',{charset:'UTF-8'},with_context= true) }}
             {{ include ('Scripts.twig') }}
            {{ include('FeuillesDeStyle.twig') }}
           
        {% endblock %}
        
    </head>
    <body>
       <div id ="cadre">
        <div id ="header"> 
            <div id="identifiants"> {% block identifiants %}{% endblock %}</div>
            <div id ="cadre_haut">{% block cadre_haut %}{% endblock %}</div>
        </div>
        <div id="content">
        {% block contenu %}{% endblock %}
       </div>
        
        <div id="footer"> 
            
            {% block footer %}
                <div class="spacer"></div>
                <div id="pied">
                    <hr style="clear: both;"></hr>
                    <span id="copyright">&copy;{{texte_footer}} {{date|date('Y')}} - Version {{version}}</span>
            </div>
            {% endblock %}
            
        </div>
      </div>
            <div id ="map">
            {%include 'googleMapAPI.twig'%}
            </div>
            {%block js %}
           
            
            {%endblock%}
    </body>
    
    
    
</html>