{# Bundle pour le  Twig template principal 'layout' #}

{% extends "layout.twig" %}

{% block identifiants %}{{parent()}}
      
    <table class ="header_table  table  table-striped table-condensed" >
        <tr>
         
            {% if connecte is defined %}
                {% if connecte == FALSE %}
                   <td>identifiants : {{nonConnecte}} </td>
                {% elseif connecte == TRUE %}
                    <td><img src="templates/IMG/login.png" /></td>
                    <td> {{messageM}} {{connecteur1}} : {{profil.prenom|capitalize}} {{profil.nom|upper}}. </td>
                    <td> {%if tuteur == TRUE %} <i>(Tuteur de la classe de 
                            {%for classe in classeTuteur %}
                             {{classe.0}}
                            {%endfor%}
                            )</i>{%endif%}</td> 
                {% endif %}
            {%else %}    <td>  {{nonConnecte}} </td>
            {%endif%}
            
         
        </tr>
        <tr>
            {% if connecte == FALSE %}
                   <td>  </td>
                {% elseif connecte == TRUE %}
                    <td>
                        <a href="logout.php?statut={{statut}}"><img src="templates/IMG/logoff.gif" title="{{logoutMessage}}" /></a> 
                    </td>
                    <td><a href="logout.php?statut={{statut}}"> {{logoutMessage}} </a></td>
                {% endif %}
        </tr>
    </table>
    
    
                
        
{% endblock %}
{% block cadre_haut %}{{parent()}}
    <div id="chapeau" class="">
    {% block chapeau_haut%}                    
    
        <div class="col-lg-2">    <a href="index.php"><div id="logo_mesr" ></div></a></div>
    <div id="bandeau2" class="col-lg-9" >
        
        
        
        {# {% block formulaire %}{% endblock %} #}
        {% block menuUtilisateur %}
            {% include 'menuBandeau.twig' %}
        {% endblock %}
            
      
    </div>
    <div id="imgBiseau" class="col-lg-offset-11 col-lg-1"></div>
    {% endblock %}
    {% block chapeau_bas%} 
    <div id="bandeau3" class="row" >
        <div class="col-lg-12 ">
            <a href="" id="lien_code_perdu"target="_blank" >Codes perdus ?</a>
            <a href="" id="lien_information"  target="_blank" > Information</a>
            <a href="" id="lien_contact"  target="_blank" >Contact</a>
        </div>
    </div>
    
        
    {% endblock %}
    </div>
{% endblock %}


{% block contenu %}{{parent()}}
    
    {% block panneauGauche %} 
        <div id="panneaugauche" class = "col-lg-2">
        {# <img src="templates/IMG/sps.png" /> #}
        </div>
    {% endblock %}
    {% block panneauDroite %}
        
        {% block panneauDroiteFirstchild%}
        <div id ="panneaudroite" class="col-lg-8">
        <div >
        
        <p>Application de simulation ParcourSup</p><hr />
        
        <br />
        </div>
        {% endblock %}
            {% block article %}
                
                
                
                
            {% endblock %}
        {% block panneauDroiteSecondchild%}
            
        </div>
        {% endblock %}
        
    {% endblock %}
{% endblock %}

{% block footer %}{{parent()}}{% endblock %}