{# Bundle pour le  Twig template principal 'layout' #}

{% extends "layout.twig" %}

{% block identifiants %}{{parent()}}
        
    <table class ="header_table" >
        <tr>
         
            {% if connecte is defined %}
                {% if connecte == FALSE %}
                   <td> {{connecteFALSE}}. </td>
                {% elseif connecte == TRUE %}
                    <td><img src="templates/IMG/login.png" /></td>
                    <td> {% if sexe == 'F' %}{{messageF}}{%else%}{{messageM}}{% endif %} {{connecteur1}} : {{prenom|capitalize}} {{nom|upper}} </td>
                {% endif %}
            {%endif%}
         
        </tr>
        <tr>
            {% if connecte == FALSE %}
                   <td>  </td>
                {% elseif connecte == TRUE %}
                    <td>
                        <a href="logout.php?statut={{statut}}"><img src="templates/IMG/logoff.gif" title="{{logoutMessage}}" /></a> 
                    </td>
                    <td><a href="logout.php?statut={{statut}}"> {{logoutMessage}} </a></td>
                {% endif %}
        </tr>
    </table>
    <br />
                
        
{% endblock %}
{% block cadre_haut %}{{parent()}}
    {% block chapeau_haut%}                    
    <div id="chapeau">
        <a href="index.php"><div id="logo_mesr"></div></a>
    <div id="bandeau2">
        <div id="connexion">
        {% endblock %}
        
        {% block formulaire %}{% endblock %}
        {% block menuUtilisateur %}
            {% include 'menuBandeau.twig' %}
        {% endblock %}
            
    {% block chapeau_bas%}   
        </div>
    </div>
    <div id="imgBiseau"></div>
    <div id="bandeau3">
        <a href="" id="lien_code_perdu"target="_blank">Codes perdus ?</a>
        <a href="" id="lien_information"  target="_blank"> Information</a>
        <a href="" id="lien_contact"  target="_blank">Contact</a>
    </div>
    </div>
    {% endblock %}
{% endblock %}


{% block contenu %}{{parent()}}
    {% block panneauGauche %} 
        <div id="panneaugauche">
        <img src="templates/IMG/sps.png" />
        </div>
    {% endblock %}
    {% block panneauDroite %}
        {% block panneauDroiteFirstchild%}
        <div id ="panneaudroite">
        
        <p>Application de simulation ParcourSup</p><hr />
        
        <br />
        
        {% endblock %}
            {% block article %}
                
                
                
                
            {% endblock %}
        {% block panneauDroiteSecondchild%}
            
        </div>
        {% endblock %}
    {% endblock %}
{% endblock %}

{% block footer %}{{parent()}}{% endblock %}