{# Layout principal pour le template SPS #}
<!DOCTYPE html>
<html>
    <head>
        
        {% block head %}
            <title>{% block title %}{{titrePage}} - {% endblock %}</title>
            {{ include('meta.twig',{charset:'UTF-8'},with_context= true) }}
             
            {{ include('FeuillesDeStyle.twig') }}
           
        {% endblock %}
        
    </head>
    <body>
       <div id ="cadre" class="container">
        <div id ="header" class="row"> 
            <div id="identifiants" class="row"> 
                <div class="col-lg-12">
                
            {% block identifiants %}{% endblock %}
                </div>
            </div>
            <div id ="cadre_haut" class="row">
                <div class="col-lg-12">
                cadre haut
                {% block cadre_haut %}{% endblock %}
            </div>
            </div>
        </div>
            
            
        <div id="content" class="row">
            {% block contenu %}{% endblock %}
        </div>
        
        <div id="footer" class ="row"> 
            
            {% block footer %}
               
                <div id="pied" class="col-lg-12">
                    <hr style="clear: both;"></hr>
                    <span id="copyright">&copy;{{texte_footer}} {{date|date('Y')}} - Version {{version}}</span>
            </div>
            {% endblock %}
            
        </div>
      </div>
            
            {%block js %}
           
            {{ include ('Scripts.twig') }}
            {%endblock%}
    </body>
    
    
    
</html>