{# empty Twig template #}

{%block listeEtablissements%}
 
    
    <div class ="formulaire">
        <form action="validationVoeux.php?statut={{statut}}" method="POST" >
            
           {% for etab in liste%}
               <p> <input type="checkbox" name="etab[]" value="{{etab.id_etab}}" onchange="loadMap('mapChild0','{{etab.latitude_Y}}','{{etab.longitude_X}}','{{etab.nom}}')"><a href="{{etab.lien}}" target="_blank" >{{etab.nom}}</a> <i>({{etab.statut}})</i></input></p>
               <div id="mapChild0">
                   {% if app.request.isXmlHttpRequest == TRUE %}
                {% include 'map.twig'%}
                
                {% endif %}
               </div>
           {%endfor%}
           {% for cpge in CPGE %}
               <p> <input type="checkbox" name="etab[]" value="{{cpge.id_etab}}" onchange="loadMap('mapChild0','{{cpge.nom}}')"><a href="" target="_blank" ><a href="{{cpge.lien}}" target ="_blank">{{cpge.nom}} - pr&eacute;pas {{cpge.formation}}</a> </input></p>
           {% endfor %}
        
        <INPUT TYPE="submit" NAME="submit" VALUE="Valider" />
        </form>
           <div id="mapChild1">
        
           </div>
        
    </div>
    
         
{%endblock%}