{# extension du template layout pour la page de login #}

{% extends "layout_bundle.twig" %}


{% block identifiants %}{{parent()}}{% endblock %}

{% block title %}{{parent()}}Identification{% endblock %}
{% block cadre_haut %}
{% block chapeau_haut %}{{parent()}}{% endblock %}
    {% block formulaire %} {{parent()}}
        <div id="connexion" class="row">
            <div class="col-lg-12 ">
            <form class="form-inline" action ="traitementLogin.php?statut={{statut}}" method ="POST">
                    {{bandeauLogin|raw}}
            </form>
            </div>
        </div>
    {% endblock %}
    {% block menuUtilisateur %}
            
            
    {% endblock %}
    {% block chapeau_bas %}{{parent()}}{% endblock %}
{% endblock %}

{% block contenu %}
    {% block panneauGauche %}{{parent()}}{%endblock%}   
    {% block panneauDroite %}
        {% block panneauDroiteFirstchild%} {{parent()}} {% endblock %}
            {% block article %}{{parent()}}
                
                <div class="row">
                    <div class="col-lg-12">
    
    
                {% if statut == 'eleve'%}    
                    <div id="titre">{{titre}}</div>
                    <div class ="text"><p>{{informations}}</p></div>
                    <a href="inscription.php?statut=eleve" ><img src="templates/IMG/{{image}}" /> </a>

                    <br />
                {%elseif statut == 'professeur'%}
                    <div id="titre">{{titre}}</div>
                    <div class ="text"><p></p></div>
                    

                    <br />
                {%elseif statut == 'administratif'%}    
                     <div id="titre">{{titre}}</div>
                    <div class ="text"><p></p></div>
                    

                    <br />
                {%else%}
                         
               {%endif%}
                    </div>
                </div>
            {% endblock %}
        {% block panneauDroiteSecondchild %} {{parent()}}
            
                
            {% if statut == 'professeur'%}
                <div class="texte">ATTENTION : pour vous connecter, utilisez les codes fournis par l'administrateur du site.</div>
            {%endif%}
            {% if statut == 'administratif'%}
                <div class="texte">ATTENTION : pour vous connecter, utilisez les codes d'accès fournis par l'administateur du site.</div>
            {%endif%}
                
            
        {% endblock %} 
    
    {% endblock %}
{% endblock %}

{% block footer %}{{parent()}}{% endblock %}