{# extension du template layout pour la page de login #}

{% extends "layout_bundle.twig" %}


{% block identifiants %}{{parent()}}{% endblock %}

{% block title %}{{parent()}}Identification{% endblock %}
{% block cadre_haut %}
{% block chapeau_haut %}{{parent()}}{% endblock %}
    {% block formulaire %} {{parent()}}
    <form action ="traitementLogin.php" method ="POST">
            {{bandeauLogin|raw}}
    </form>
    {% endblock %}
    {% block chapeau_bas %}{{parent()}}{% endblock %}
{% endblock %}

{% block contenu %}{{parent()}}
    
    
    
    <div id ="panneaudroite">
        <div id = "page">
            <div id="titre">{{titre}}</div>
            <div class ="text"><p>{{informations}}</p></div>
            <a href="inscription.php?statut=eleve" ><img src="templates/IMG/{{image}}" /> </a>
        
        <br /></div>
        
    </div>
{% endblock %}

{% block footer %}{{parent()}}<hr />{% endblock %}