{# extension du template layout pour la page de login #}

{% extends "layout_bundle.twig" %}


{% block identifiants %}{{parent()}}{% endblock %}

{% block title %}{{parent()}}Identification{% endblock %}
{% block cadre_haut %}
{% block chapeau_haut %}{{parent()}}{% endblock %}
    {% block formulaire %} {{parent()}}
    <form action ="traitementLogin.php?statut={{statut}}" method ="POST">
            {{bandeauLogin|raw}}
    </form>
    {% endblock %}
    {% block chapeau_bas %}{{parent()}}{% endblock %}
{% endblock %}

{% block contenu %}
    {% block panneauGauche %}{{parent()}}{%endblock%}   
    {% block panneauDroite %}
        {% block panneauDroiteFirstchild%} {{parent()}} {% endblock %}
            {% block article %}{{parent()}}
    
    
        
            <div id="titre">{{titre}}</div>
            <div class ="text"><p>{{informations}}</p></div>
            <a href="inscription.php?statut=eleve" ><img src="templates/IMG/{{image}}" /> </a>
        
            <br />
        
   
            {% endblock %}
        {% block panneauDroiteSecondchild %} {{parent()}} {% endblock %}    
    {% endblock %}
{% endblock %}

{% block footer %}{{parent()}}<hr />{% endblock %}