{# empty Twig template #}
<div id="menu">
    <div class="inscription">&nbsp;<a href="profilEleve.php?statut={{statut}}">{{recapitulatifEleve}}</a>&nbsp;</div>
    <div class="inscription">&nbsp;<a href="notes.php?statut={{statut}}">{{notesEleve}}</a>&nbsp;</div>
    <div class="inscription">&nbsp;<a href="orientation.php?statut={{statut}}">{{nouveauVoeuEleve}}</a>&nbsp;</div>
</div>