{# empty Twig template #}
<div id="menu">
    <div class="inscription">&nbsp;<a href="login-proc.php?statut={{statut}}">{{recapitulatifEleve}}</a>&nbsp;</div>
    <div class="inscription">&nbsp;<a href="notes.php?statut={{statut}}">{{notesEleve}}</a>&nbsp;</div>
    <div class="inscription">&nbsp;<a href="voeu-proc.php?statut={{statut}}">{{nouveauVoeuEleve}}</a>&nbsp;</div>
</div>