{# empty Twig template #}
<div class="formulaire">
    <table class ="liste_voeux">
        
    {% for etab in listeVoeux %}
        
            
        {%if etab.UAI != NULL and etab.type !="Classes Préparatoires aux Grandes Ecoles" %}
            <tr>
            <td> N°{{etab.classement}} : ({{etab.UAI}}) - <a href="{{etab.lien}}">{{etab.nom}}</a></td>
            <td>  {{academie}}{{etab.academie}} ({{commune}} : {{etab.commune}})</td>
            <td><a href = "modificationVoeu.php?statut={{statut}}&idVoeu={{etab.id_voeu}}">Modifier</a></td>
            <td><a href ="suppressionVoeu.php?statut={{statut}}&idVoeu={{etab.id_voeu}}">Supprimer</a></td>
            </tr>
            {%for comm in listeCommentaires%}
                {%if etab.id_voeu == comm.id_voeu %}
                    <tr ><td colspan="4">Commentaire pour ce voeu  : <i>{{comm.1}}</i></td><td></td><td></td><td></td></tr>
                {%endif%}
            {%endfor%}
        {%elseif etab.UAI == NULL and etab.type == "Classes Préparatoires aux Grandes Ecoles" %}
            <tr>
                <td> N°{{etab.classement}} : <a href="{{etab.lien}}">{{etab.nom}} - {{etab.formation}} ({{etab.commune}})</a></td>
            <td></td>
            <td><a href = "modificationVoeu.php?statut={{statut}}&idVoeu={{etab.id_voeu}}">Modifier</a></td>
            <td><a href ="suppressionVoeu.php?statut={{statut}}&idVoeu={{etab.id_voeu}}">Supprimer</a></td>
            </tr>
            {%for comm in listeCommentaires%}
                {%if etab.id_voeu == comm.id_voeu %}
                    <tr ><td colspan="4">Commentaire pour ce voeu  : <i>{{comm.1}}</i></td><td></td><td></td><td></td></tr>
                {%endif%}
            {%endfor%}
        {%else%}
            <tr>
            <td> N°{{etab.classement}} : {#<a href="{{etab.lien}}">#}{{etab.type}}{#</a>#}</td>
            <td></td>
            <td><a href = "modificationVoeu.php?statut={{statut}}&idVoeu={{etab.id_voeu}}">Modifier</a></td>
            <td><a href ="suppressionVoeu.php?statut={{statut}}&idVoeu={{etab.id_voeu}}">Supprimer</a></td>
            </tr>
            {%for comm in listeCommentaires%}
                {%if etab.id_voeu == comm.id_voeu %}
                    <tr ><td colspan="4">Commentaire pour ce voeu  : <i>{{comm.1}}</i></td><td></td><td></td><td></td></tr>
                {%endif%}
            {%endfor%}
           
        {%endif%}
        
    {% endfor %}
    
    </table>
</div>