<div class="liste_classe">
                    {{ messageAdmin }} : <br />
                    
        <ul>


            <li> <a href=""><img src="templates/IMG/audit.png" /> </a><a href="">{{lienAudit}} </a> </li>
            <li> <a href="constructionPDF.php"><img src="templates/IMG/pdf-edit.jpg" /></a> <a href="constructionPDF.php">{{voeuxElevesPreCommission}} </a> </li>
            <li> <a href=""><img src="templates/IMG/ecrire.gif" /></a> <a href="">{{avisP1}} </a> </li>
            <li> <a href=""><img src="templates/IMG/check.jpg" /></a><a href="">{{avisDefinitifCommission}} </a> </li>
            <li> <a href="constructionPDF.php"><img src="templates/IMG/listing.gif" /></a><a href="constructionPDF.php">{{voeuxElevesPostCommission}} </a> </li>
            <li> <a href="constructionPDF.php"><img src="templates/IMG/courrier.jpg" /></a><a href="constructionPDF.php">{{PDFPourFamilles}} </a> </li>


        </ul>

</div>
                