



<div class="liste_classe">
                    {{ messageAdmin }} : <br />
                    
        <ul>


            <li> <a href="choixEditionAdmin.php?statut={{statut}}&type=audit"><img src="templates/IMG/audit.png" /> </a><a href="choixEditionAdmin.php?statut={{statut}}&type=audit">{{lienAudit}} </a> </li>
      
            <li> <a href="choixEditionAdmin.php?statut={{statut}}&type=pdfPreCommission"><img src="templates/IMG/pdf-edit.jpg" /></a> <a href="choixEditionAdmin.php?statut={{statut}}&type=pdfPreCommission">{{voeuxElevesPreCommission}} </a> </li>
            <li> <a href="choixEditionAdmin.php?statut={{statut}}&type=avisP1"><img src="templates/IMG/ecrire.gif" /></a> <a href="choixEditionAdmin.php?statut={{statut}}&type=avisP1">{{avisP1}} </a> </li>
            
            <li> <a href="choixEditionAdmin.php?statut={{statut}}&type=avisCommission"><img src="templates/IMG/check.jpg" /></a><a href="choixEditionAdmin.php?statut={{statut}}&type=avisCommission">{{avisDefinitifCommission}} </a> </li>
            <li> <a href="choixEditionAdmin.php?statut={{statut}}&type=pdfPostCommission"><img src="templates/IMG/listing.gif" /></a><a href="choixEditionAdmin.php?statut={{statut}}&type=pdfPostCommission">{{voeuxElevesPostCommission}} </a> </li>
            <li> <a href="choixEditionAdmin.php?statut={{statut}}&type=pdfEnvoi"><img src="templates/IMG/courrier.jpg" /></a><a href="choixEditionAdmin.php?statut={{statut}}&type=pdfEnvoi">{{PDFPourFamilles}} </a> </li>


        </ul>

</div>
                