
{# extension du template layout pour le template principal #}

{% extends "layout_bundle.twig" %}


{% block identifiants %}{{parent()}}{% endblock %}

{% block title %}{{parent()}}Accueil{% endblock %}
{% block cadre_haut %}
        {% block chapeau_haut %}{{parent()}}{% endblock %}
        {% block menuUtilisateur %}
        
        {% endblock %}
        {% block chapeau_bas %}{{parent()}}{% endblock %}
    
{% endblock %}

{% block contenu %}
    {% block panneauGauche %}{{parent()}}{%endblock%}   
    {% block panneauDroite %}
        {% block panneauDroiteFirstchild%} {{parent()}} {% endblock %}
            {% block article %}{{parent()}}
               
                {% if id_eleve is defined  %}
                    <div class="article">
                        <div class="">
                            {{identite}} : {{Prénom}}&nbsp;{{Nom_de_famille}}&sbquo;&nbsp;{{ne_le}} {{Date_Naissance}} {{a}} {{Commune_Naiss_}}.<br />
                        </div>
                        {% if dejaEnregistre == FALSE %}
                        <div class = "">
                        {{infoMail}} : {{mail1}}<br /><br />
                        {{messageBienvenue}}<br />
                        {{messageConnexion}} : <br /><br />
                        </div>
                        
                        <div class="formulaire">
                            {{labelnumDossier}} : {{numDossier}}<br /><br />
                            {{labelcodeConf}} : {{codeConf}}<br /><br />
                            
                          
                        </div>
                        <div class = "lien">
                            <a href="{{lien}}{{statut}}" target="_self">{{retourLogin}}</a>
                        </div>
                        {%else %}
                            <div class = "text">{{dejaEnregistreMessage}}</div>
                            <div class = "lien">
                            <a href="login.php?statut={{statut}}" target="_self">{{retourLogin}}</a>
                        </div>
                        {%endif%}
                    </div>
                {% else %}  
                    <div class="article">
                        
                    </div>
                {% endif %}
                
                
            {% endblock %}
        {% block panneauDroiteSecondchild %} {{parent()}} {% endblock %}    
    {% endblock %}
    
{%endblock%}

{% block footer %}{{parent()}}<hr />{% endblock %}